@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.footer {
  &__list {
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 36px;
    }

    a {
      font-size: 20px;
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-weight: var(--fw-300);
    font-size: 16px;

    p {
      font-size: 16px;
    }
  }
}
