@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;
  overflow: hidden;
  border-radius: 0 0 24px 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   z-index: 1;
    //   background: linear-gradient(90deg, rgb(22, 17, 12), rgba(22, 17, 12, 0) 38.4%),
    //     linear-gradient(180deg, rgba(22, 17, 12, 0) 64.83%, rgb(22, 17, 12) 100%),
    //     linear-gradient(180deg, rgb(22, 17, 12) 9.168%, rgba(22, 17, 12, 0) 22.144%);
    //   inset: 0;
    // }
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 540px;
  }

  h1 {
    margin-bottom: 24px;
  }

  &--home {
    p {
      margin-bottom: rem(48);
    }
  }

  &--destination {
    h1 {
      font-size: clamp(1.875rem, 1.6667rem + 2.037vi, 3.5rem);
    }
  }

  &--tour {
    #{$root}__content {
      max-width: 720px;
    }
  }

  &--gallery {
    #{$root}__content {
      max-width: 850px;
    }
  }

  @include media(tablet) {
    &__inner {
      min-height: 450px;
    }

    &__content {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  @include media(mobile-m) {
    &__inner {
      min-height: 400px;
    }

    .btn {
      max-width: 100%;
    }
  }
}
