// @use "../utils/functions/" as *;
// @use "../utils/mixins/" as *;

// .history {
//   $root: &;

//   &__inner {
//     position: relative;
//   }

//   &__content {
//     position: absolute;
//     inset: auto 24px 24px auto;
//     overflow: hidden;
//     border-radius: var(--radius-big);
//     padding: 24px 40px;
//     width: 100%;
//     max-width: 572px;
//     background-color: var(--color-white);
//   }

//   &__benefits {
//     display: flex;
//     gap: 32px;
//   }

//   &__list {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     width: 100%;
//     max-width: 803px;
//     gap: 24px;
//   }

//   &__item {
//     padding: 24px;

//     &::before {
//       content: "";
//       position: relative;
//       display: block;
//       margin-bottom: 16px;
//       width: 128px;
//       height: 128px;
//       background-image: url("../images/icons/gears.svg");
//       background-position: 0 0;
//       background-size: cover;
//       background-repeat: no-repeat;
//     }

//     &--benefit {
//       &::before {
//         background-image: url("../images/icons/benefit.svg");
//       }
//     }
//   }

//   &--benefits {
//     #{$root}__content {
//       inset: 24px auto auto 24px;
//     }

//     #{$root}__image {
//       margin-bottom: 48px;
//     }
//   }

//   .title {
//     max-width: 381px;
//   }

//   @include media(tablet-wide) {
//     &__benefits {
//       flex-direction: column;
//     }

//     &__list {
//       max-width: 100%;
//     }

//     .title {
//       max-width: 100%;
//       margin-bottom: 0;
//     }
//   }

//   @include media(tablet) {
//     &__content {
//       padding: 16px;
//     }

//     &__item {
//       padding: 16px;
//       &::before {
//         width: 48px;
//         height: 48px;
//       }
//     }
//   }

//   @include media(mobile-l) {
//     &__inner {
//       display: flex;
//       flex-direction: column;
//       gap: 24px;
//     }

//     &__content {
//       position: relative;
//       order: -1;
//       border-radius: 0;
//       padding: 0;
//       max-width: 100%;
//       inset: 0;
//     }

//     &__list {
//       grid-template-columns: repeat(2, 1fr);
//     }

//     &__item {
//       &:last-child {
//         grid-column: 2 span;
//       }
//     }

//     &--benefits {
//       #{$root}__content {
//         inset: 0;
//       }

//       #{$root}__image {
//         margin-bottom: 24px;
//       }
//     }
//   }

//   @include media(mobile-m) {
//     &__list {
//       grid-template-columns: 1fr;
//     }

//     &__item {
//       overflow: visible;
//       padding: 0;
      
//       &:last-child {
//         grid-column: auto;
//       }
//     }
//   }
// }
