@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.facts {
  &__inner {
    display: flex;
    gap: 32px;
  }

  &__list {
    width: 100%;
    max-width: 355px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  span {
    position: relative;
    display: block;
    margin-bottom: 32px;
    font-size: clamp(2.8125rem, 0.5136rem + 10.8182vi, 10.25rem);
    line-height: 1.21;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 100%;
      height: 1px;
      background-color: var(--color-black);
      opacity: 0.5;
    }
  }

  p {
    font-size: clamp(1.125rem, 1.0833rem + 0.1852vi, 1.25rem);
    line-height: 1.2;
    opacity: 1;
  }

  @include media(tablet) {
    &__inner {
      flex-direction: column;
      gap: 24px;
    }

    &__list {
      display: grid;
      justify-content: space-between;
      order: -1;
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      gap: 24px;
    }

    &__image {
      img {
        height: 100%;
        aspect-ratio: 2/1;
      }
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      &:last-child {
        grid-column: 2 span;
        text-align: center;
      }
    }
  }

  @include media(mobile-m) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      &:last-child {
        grid-column: auto;
        text-align: left;
      }
    }
  }
}
