@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.team {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
  }

  &__item {
    display: grid;
    place-items: center;
    align-self: baseline;
    text-align: center;

    span {
      display: block;
      margin-bottom: 15px;
      font-weight: var(--fw-700);
    }
  }

  img {
    overflow: hidden;
    margin-bottom: 16px;
    border-radius: 50%;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  @include media(tablet) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      padding: 16px;

      &:last-child {
        grid-column: span 2;

        img {
          aspect-ratio: 2/1;
        }
      }
    }
  }

  @include media(mobile-m) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      img {
        object-position: center;
        aspect-ratio: 2/1;
      }

      &:last-child {
        grid-column: auto;
      }
    }
  }
}
