@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

h1,
h2,
h3 {
  overflow: hidden;
  margin-bottom: 16px;
  font-weight: var(--fw-400);
  font-size: clamp(2.125rem, 1.5rem + 2.7778vi, 4rem);
  line-height: 1;
}

h2 {
  font-weight: var(--fw-700);
  font-size: clamp(1.5625rem, 1.3333rem + 1.0185vi, 2.25rem);
  line-height: 1.5;
}

h3 {
  margin-bottom: 16px;
  font-weight: var(--fw-700);
  font-size: 16px;
}

p {
  font-size: clamp(16px, 0.9167rem + 0.3704vi, 20px);
}

.slogan {
  display: block;
  border-radius: 100px;
  margin-bottom: 56px;
  padding: 4px 12px;
  width: fit-content;
  font-weight: var(--fw-700);
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-azure-300);
}
