@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.additional {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
  }

  &__item {
    overflow: hidden;
    border-radius: var(--radius-big);
    padding: 36px;
    height: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.02);
    background-color: var(--color-white);

    &--colored {
      color: var(--color-gray-10);
      background-color: var(--color-blue-600);

      .additional__desc {
        li {
          &::before {
            background-image: url("../images/icons/plus.svg");
          }
        }
      }
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
      position: relative;
      padding-left: 40px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-image: url("../images/icons/circle.svg");
        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
